* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background: #080808;

  color: white;
  padding: 0px 10%;
}
.subTitle {
  margin: 20px;
  font-size: 18px;
  font-weight: 400;
}
.silverText {
  background: linear-gradient(10deg, #11c6c0 0%, #ece3e3 90%, #075b58 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.darkText {
  background: linear-gradient(10deg, #11c6c0, #075b58);
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;

  text-wrap: initial;
}

.green-shine {
  width: 100%;
  position: sticky;
  top: 0;
  background: linear-gradient(
    90deg,
    rgba(229, 103, 154, 0.23) 0%,
    rgba(164, 240, 238, 0.11) 60%,
    rgba(183, 227, 225, 0.16) 100%
  );
  box-shadow: 0 2px 24px 0 rgba(53, 17, 20, 0.19);

  backdrop-filter: blur(4px);
  z-index: 100;
  padding: 0;
}
.green-shine ul li a:hover {
  color: #11c6c0;
}
.green-shine ul li a {
  color: #ece3e3;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.02em;
  padding: 10px 18px;
  border-radius: 12px;
}

@media (max-width: 768px) {
  body {
    padding: 0 0%;
  }
}
